/* .sidebar {
    height: 100vh;
    width: 18rem;
    background: linear-gradient(180deg, #794D4D 0%, #860101 100%);
    color: #ffffff;
    overflow-y:scroll ;
}

.Admin-page-body {
    display:flex ;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-new-but{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.col-sidebar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.but-create {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list {
    width: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
}

.space-of-ui {
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin-left: 1rem;
} */