* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-container {
    display: flex;
    
}

.logo_admin img {
    width: 230px;
    height: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #794D4D 0%, #860101 100%);
    color: #ffffff;
    height: 100vh;
    overflow-y: scroll;
    transition: all 0.5s;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.bars {
    color: rgb(218, 218, 218);
    background-color: rgb(0, 0, 0);
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.4rem;
}

.bars-body :hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.4rem;
}

.link {
    display: flex;
    justify-content: flex-start; 
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.link-line {
    display: flex;
    color: white;
    text-decoration: none;
    gap: 20px;
    align-items: center;
}

.link:hover {
    background-color: #4d4d4d;
    border-radius: 20px;
    color: white;
}

.active {
    background-color: #ffffff;
    border-radius: 20px;
}

.active a {
    color: black;
}

.create-new {
    background-color: rgba(255, 255, 255, 0.459); 
    border-radius: 20px;
}

.create-new .create-new-icon {
    color: white;
    background: orange;
    padding: 0.3rem;
    font-size: 1.8rem;
    border-radius: 50%;
}

.normally-menu-bar {
    padding: 0.3rem;
    font-size: 1.8rem;
}

@media (max-width: 1528px) {
    .sidebar-container {
        display: flex;
        overflow-x: scroll; 
    }

    .sidebar {
        width: 60%; 
        height: 100vh; 
    }

    .main-show{
        width: 40%; 
        display: flex;
        flex-direction:row;
        overflow-x: none; 
    }

    .bars-body{
        display: none;
    }

    .logo_admin img{
        display: none;
    }

    
}


main {
    background-color: #ffffff;
    width: 100%;
}