.header {
    background-color: #FE5151;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight: 600;
    color: white;
  }
  
  .header p {
    margin: 0; 
    display: flex;
    align-items: center;
  }
  
  .header a {
    margin-left: 8px; 
    text-decoration: none; 
    display: flex;
    align-items: center;
  }
  
  .header a:hover {
    text-decoration: underline;
  }
  